body {
    background-color: green;
    width: fit-content;

}

h1 {
    color: aliceblue;
}

header {
    background-color: blue;
}

#image-container {
    flex: auto;
    border: 25px black;
}

img {
    width: 200px;
}